@charset "UTF-8";

$font-family: "Proxima Nova";
$font-size: 14px; //body text
$text-underheadline: 18px;
$font-colour: #2d2d2d; //black
$img-src: url("../img/coursePic.png");
$text-muted: #9f9f9f;
$line-height: 120%;
$orange: #ffae00;

body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: 400;
    color: $font-colour;
    line-height: $line-height;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .img-responsive {
        content: $img-src;
    }

    .title {
        width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px; /* fallback */
        max-height: 100px; /* fallback */
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
        padding: 8px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
}



.submenu-container {
    width: 20%;
    float: right;

    label {
        font-size: x-large;
        float: right;

        i {
            font-family: 'Glyphicons Halflings';
        }
    }

    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    input[type=checkbox]:checked ~ #submenu {
        display: block; //or block
        position: absolute;
    }

    #submenu {
        font-size: $font-size;
        display: none;
        width: 165px;
        color: $font-colour;
        box-shadow: rgba(0,0,0,0.4) 1px 1px;

        a {
            text-decoration: none;
            color: $font-colour;
        }

        a:hover {
            text-decoration: underline;
            color: #59a831;
        }
    }
}

.info-2 {
    padding: 8px;

    span {
        color: $text-muted;
    }
}

.info-1 {
    padding: 8px;
    width: 100%;


    .info-1-a, info-1-b {
        display: inline-block;
        width: 50%;
        float: left;


        .glyphicon {
            color: $orange;
        }
    }
}

#pb {
    width: 30%;
    display: none;
}
