@charset "UTF-8";

$font-family: "Proxima Nova";
$font-size: 14px; //body text
$small-heading: 30px;
$text-underheadline: 18px;
$font-colour: #2d2d2d; //black
$img-src: url("../img/coursePic.png");
$text-muted: #9f9f9f;
$line-height: 120%;
$orange: #ffae00;

body {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-colour;
    line-height: $line-height;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .titles {
        width: 80%;

        span {
            font-size: $small-heading;
            padding: 8px;
            display: inline-block;
            width: 180px;
            white-space: nowrap;
            overflow: hidden !important;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

.img-responsive {
    content: $img-src;
}

.submenu-container {
    width: 20%;
    float: right;

    label {
        margin-top: -60px;
        margin-right: 10px;
        font-size: x-large;
        float: right;

        i {
            font-family: 'Glyphicons Halflings';
        }
    }

    input[type=checkbox] {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    input[type=checkbox]:checked ~ #submenu {
        display: block;
        position: absolute;
    }

    #submenu {
        display: none;
        width: 165px;
        margin-top: -50px;
        margin-left: 20px;
        color: $font-colour;
        box-shadow: rgba(0,0,0,0.4) 1px 1px;

        a {
            padding: 11px;
            text-decoration: none;
            color: $font-colour;
        }

        a:hover {
            text-decoration: underline;
            color: #59a831;
        }
    }
}

.info-2 {
    padding: 8px;

    span {
        color: $text-muted;
    }
}

.info-1 {
    padding: 8px;
    width: 100%;
    font-size: $text-underheadline;

    .info-1-a, info-1-b {
        display: inline-block;
        width: 50%;
        float: left;


        .glyphicon {
            color: $orange;
        }
    }
}

#pb {
    width: 30%;
    display: none;
}
